
// We use global styles just out of convenience because all
// markdown files don't use any classes so we would have to go with
// a lot of :global selectors in the Svelte scoped styles.

.content {
  line-height: 1.4;

  h2, h3, h4, h5, h6 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--sg-sys-border-color);
    scroll-margin-top: 1rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-left: 5px solid var(--sg-sys-accent);
    color: var(--sg-sys-muted-foreground);

    p {
      margin: 0;
    }
  }

  ul > li {
    margin-bottom: 0.75rem;
  }

  code:not(pre > code) {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--sg-sys-card-background);
    // color: var(--sg-sys-secondary-foreground);
    border-radius: 6px;
  }
}
